/* Navigation bar styling */
.navbar-toggle{
  width: 42px;
  height: 38px;
  float: right;
  margin-top: 10px;
}

.navbar-toggle * {
	-ms-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.navbar-toggle span {
	width: 20px;
	height: 2px;
	margin-bottom: 3px;
	background-color: white;
	display: block;
}
.navbar-toggle span.bar1 {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
	-ms-transform-origin: 1px 3px;
	-webkit-transform-origin: 1px 3px;
  -moz-transform-origin: 1px 3px;
  -o-transform-origin: 1px 3px;
	transform-origin: 1px 3px;
	width: 24px;
} 
.navbar-toggle span.bar2 {
  -ms-transform: rotate(-360deg) scale(0);
  -webkit-transform: rotate(-360deg) scale(0);
  -moz-transform: rotate(-360deg) scale(0);
  -o-transform: rotate(-360deg) scale(0);
  transform: rotate(-360deg) scale(0);
}
.navbar-toggle span.bar3 {
  -ms-transform: rotate(360deg) scale(0);
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
} 
.navbar-toggle span.bar4 {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-transform-origin: 2px 0px;
	-webkit-transform-origin: 2px 0px;
	transform-origin: 2px 0px;
	width: 24px;
}
.navbar-toggle.collapsed span.bar1,
.navbar-toggle.collapsed span.bar2,
.navbar-toggle.collapsed span.bar3,
.navbar-toggle.collapsed span.bar4 {
	-ms-transform: none;
	-webkit-transform: none;
	transform: none;
	width: 20px;
}

