body {
	padding: 0px;
	margin: 0px;
  }

.footer{
  background-color: #419ab5;
 height: 60px;
}

.social ul{
  display: flex;
}

.social ul li{
color: white;
height: 16px;
margin-top: 10px;
line-height: 12px;
padding: 20px;
list-style: none;
}

.navbar {
  width: 100%;
  position: sticky;
  top:0;
  display:flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  z-index: 1;
  border-bottom: 2px solid white;
}

#navbar ul{
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
.navbar ul li a {
  color: white;
  transition:color 0.3s;

}

.navbar li a:hover{
  background-color: white;
  color:  #419ab5;
} 

img{
  height: 730px;
  width: 100%;
}
.footer ul {
	list-style: none;
	text-align: center;
}
.footer ul li{
	display: inline-block;
	padding: 0 50px 0 50px;
}
.tm-col-footer ul {
	list-style: none;
}

